body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
 text-align:center;
}
figure {
  text-align:center;
}
nav {
  text-align:center;
}
a {
  padding:10px;
  background:grey;
}
#details {
  display:block;
  float:left;
}